# File patterns git SCM system should ignore
# (see 'man 5 gitignore' for details)

# Relative to root
###################
/*.geany

# Global
########
**/__pycache__/
**.pyc
**.pyo
**.DS_Store
**.coverage
**.~lock.*
